<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">CRUD Imágenes</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ms-auto">
				<a class="nav-link active" href="/"><i class="bi bi-house-door"></i> Inicio</a>
				<a class="nav-link active" href="/imagenes/list"><i class="bi bi-images"></i> Ver imágenes</a>
				<a class="nav-link active" href="/imagenes/create"><i class="bi bi-plus-circle"></i> Subir imágenes</a>
			</div>
		</div>
	</div>
</nav>